body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: Helvetica;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  position: fixed;
  height: 100%;
  width: 100%;
}

.timerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  padding: 10px;
  border-spacing: 20px 5px;
}

.info {
  font-size: 80px;
}

.heading {
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.goals {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

#quote {
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 1.1rem;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  width: 500px;
  text-align: center;
}

hr {
  transform: translate(-50%, -50%);
  position: absolute;
  border-top: 1px solid white;
}

header a {
  text-decoration: none;
  margin-left: 20px;

  font-size: 2rem;
  color: white;
}

header a:hover {
  color: #3bd9d9;
  transition: all 0.3s ease-in-out;
}

.social {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 90%;
  top: 5%;
}

h2 {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 4%;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}
